# Checks style, syntax, and other useful errors.
flake8

# Static type checking
mypy>=1.0,<1.5

# Automatic code formatting
black>=23.0,<24.0
isort>=5.12,<5.13

# Running tests
pytest
pytest-sphinx

# Allows generation of coverage reports with pytest.
pytest-cov

# Needed for packaging and uploading to PyPi
twine>=1.11.0
setuptools
wheel

# Building docs
sphinx_rtd_theme
sphinx == 7.*  # same value as needs_sphinx in /docs/source/conf.py
sphinx-autodoc-typehints

# Lets Sphinx parse markdown files in addition to rst.
myst-parser>=0.15.2,<2.1.0

# For parsing and comparing version numbers.
packaging

# Notebook stuff
notebook
contextily
seaborn

# For visualizing data on an interactive map
folium

# OSMNX explore function dependency
mapclassify
